{
  "openapi": "3.0.3",
  "info": {
    "title": "MachShop Manufacturing Execution System API",
    "version": "1.0.0",
    "description": "# MachShop MES API Documentation\n\nComprehensive API documentation for the MachShop Manufacturing Execution System (MES),\ndesigned for aerospace component manufacturing with full traceability and compliance.\n\n## API Coverage\n- **864 Endpoints** across 62 modules\n- **14 Business Domains**\n- **57% Documentation Coverage**\n\n## Standards Compliance\n- ISA-95 Manufacturing Operations Management\n- AS9100 Quality Management Systems\n- FDA 21 CFR Part 11 Electronic Records\n- ITAR Export Control Compliance\n\n## Authentication\nAll endpoints require JWT bearer token authentication with role-based access control (RBAC).\n\nGenerated: 10/30/2025, 10:25:14 AM",
    "contact": {
      "name": "MES Development Team",
      "email": "api-support@machshop.com",
      "url": "https://docs.machshop.com"
    },
    "license": {
      "name": "Proprietary",
      "url": "https://machshop.com/license"
    }
  },
  "servers": [
    {
      "url": "https://api.machshop.com/api/v1",
      "description": "Production MES API"
    },
    {
      "url": "https://staging-api.machshop.com/api/v1",
      "description": "Staging Environment"
    },
    {
      "url": "http://localhost:3001/api/v1",
      "description": "Development Environment"
    }
  ],
  "paths": {
    "/routings": {
      "post": {
        "operationId": "post_routings",
        "summary": "Create a new routing",
        "description": "Create a new routing\n\n**Middleware:** asyncHandler\n\n**Business Domain:** Production Management",
        "tags": [
          "Production Management"
        ],
        "parameters": [],
        "responses": {
          "201": {
            "description": "Resource created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseEntity"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "deprecated": false,
        "requestBody": {
          "description": "routings data",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/createRoutingSchema"
              },
              "example": {
                "id": "example-id",
                "name": "Example Resource"
              }
            }
          }
        },
        "security": []
      },
      "get": {
        "operationId": "get_routings",
        "summary": "Create a new routing",
        "description": "Create a new routing\n\n**Middleware:** asyncHandler\n\n**Business Domain:** Production Management",
        "tags": [
          "Production Management"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Page number for pagination",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Number of items per page",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 1000,
              "default": 50
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/BaseEntity"
                      }
                    },
                    "pagination": {
                      "$ref": "#/components/schemas/PaginationInfo"
                    }
                  }
                },
                "example": {
                  "id": "example-id",
                  "name": "Example Resource"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      }
    },
    "/routings/:id": {
      "get": {
        "operationId": "get_routings__by_id",
        "summary": "Create a new routing",
        "description": "Create a new routing\n\n**Middleware:** asyncHandler\n\n**Business Domain:** Production Management",
        "tags": [
          "Production Management"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "id identifier",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Page number for pagination",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Number of items per page",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 1000,
              "default": 50
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseEntity"
                },
                "example": {
                  "id": "example-id",
                  "name": "Example Resource"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      },
      "put": {
        "operationId": "put_routings__by_id",
        "summary": "Create a new routing",
        "description": "Create a new routing\n\n**Middleware:** asyncHandler\n\n**Business Domain:** Production Management",
        "tags": [
          "Production Management"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "id identifier",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Operation successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseEntity"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "deprecated": false,
        "requestBody": {
          "description": "routings data",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/createRoutingSchema"
              },
              "example": {
                "id": "example-id",
                "name": "Example Resource"
              }
            }
          }
        },
        "security": []
      },
      "delete": {
        "operationId": "delete_routings__by_id",
        "summary": "Create a new routing",
        "description": "Create a new routing\n\n**Middleware:** asyncHandler\n\n**Business Domain:** Production Management",
        "tags": [
          "Production Management"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "id identifier",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Resource deleted successfully"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      }
    },
    "/routings/number/:routingNumber": {
      "get": {
        "operationId": "get_routings_number__by_routingNumber",
        "summary": "Create a new routing",
        "description": "Create a new routing\n\n**Middleware:** asyncHandler\n\n**Business Domain:** Production Management",
        "tags": [
          "Production Management"
        ],
        "parameters": [
          {
            "name": "routingNumber",
            "in": "path",
            "required": true,
            "description": "routingNumber identifier",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Page number for pagination",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Number of items per page",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 1000,
              "default": 50
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseEntity"
                },
                "example": {
                  "id": "example-id",
                  "name": "Example Resource"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      }
    },
    "/routings/:routingId/steps": {
      "post": {
        "operationId": "post_routings__by_routingId_steps",
        "summary": "Create a new routing",
        "description": "Create a new routing\n\n**Middleware:** asyncHandler\n\n**Business Domain:** Production Management",
        "tags": [
          "Production Management"
        ],
        "parameters": [
          {
            "name": "routingId",
            "in": "path",
            "required": true,
            "description": "routingId identifier",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Resource created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseEntity"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "deprecated": false,
        "requestBody": {
          "description": "routings data",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/createRoutingSchema"
              },
              "example": {
                "id": "example-id",
                "name": "Example Resource"
              }
            }
          }
        },
        "security": []
      },
      "get": {
        "operationId": "get_routings__by_routingId_steps",
        "summary": "Create a new routing",
        "description": "Create a new routing\n\n**Middleware:** asyncHandler\n\n**Business Domain:** Production Management",
        "tags": [
          "Production Management"
        ],
        "parameters": [
          {
            "name": "routingId",
            "in": "path",
            "required": true,
            "description": "routingId identifier",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Page number for pagination",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Number of items per page",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 1000,
              "default": 50
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseEntity"
                },
                "example": {
                  "id": "example-id",
                  "name": "Example Resource"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      }
    },
    "/routings/steps/:stepId": {
      "get": {
        "operationId": "get_routings_steps__by_stepId",
        "summary": "Create a new routing",
        "description": "Create a new routing\n\n**Middleware:** asyncHandler\n\n**Business Domain:** Production Management",
        "tags": [
          "Production Management"
        ],
        "parameters": [
          {
            "name": "stepId",
            "in": "path",
            "required": true,
            "description": "stepId identifier",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Page number for pagination",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Number of items per page",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 1000,
              "default": 50
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseEntity"
                },
                "example": {
                  "id": "example-id",
                  "name": "Example Resource"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      },
      "put": {
        "operationId": "put_routings_steps__by_stepId",
        "summary": "Create a new routing",
        "description": "Create a new routing\n\n**Middleware:** asyncHandler\n\n**Business Domain:** Production Management",
        "tags": [
          "Production Management"
        ],
        "parameters": [
          {
            "name": "stepId",
            "in": "path",
            "required": true,
            "description": "stepId identifier",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Operation successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseEntity"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "deprecated": false,
        "requestBody": {
          "description": "routings data",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/createRoutingSchema"
              },
              "example": {
                "id": "example-id",
                "name": "Example Resource"
              }
            }
          }
        },
        "security": []
      },
      "delete": {
        "operationId": "delete_routings_steps__by_stepId",
        "summary": "Create a new routing",
        "description": "Create a new routing\n\n**Middleware:** asyncHandler\n\n**Business Domain:** Production Management",
        "tags": [
          "Production Management"
        ],
        "parameters": [
          {
            "name": "stepId",
            "in": "path",
            "required": true,
            "description": "stepId identifier",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Resource deleted successfully"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      }
    },
    "/routings/:routingId/steps/resequence": {
      "post": {
        "operationId": "post_routings__by_routingId_steps_resequence",
        "summary": "Create a new routing",
        "description": "Create a new routing\n\n**Middleware:** asyncHandler\n\n**Business Domain:** Production Management",
        "tags": [
          "Production Management"
        ],
        "parameters": [
          {
            "name": "routingId",
            "in": "path",
            "required": true,
            "description": "routingId identifier",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Resource created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseEntity"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "deprecated": false,
        "requestBody": {
          "description": "routings data",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/createRoutingSchema"
              },
              "example": {
                "id": "example-id",
                "name": "Example Resource"
              }
            }
          }
        },
        "security": []
      }
    },
    "/routings/steps/dependencies": {
      "post": {
        "operationId": "post_routings_steps_dependencies",
        "summary": "Create a new routing",
        "description": "Create a new routing\n\n**Middleware:** asyncHandler\n\n**Business Domain:** Production Management",
        "tags": [
          "Production Management"
        ],
        "parameters": [],
        "responses": {
          "201": {
            "description": "Resource created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseEntity"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "deprecated": false,
        "requestBody": {
          "description": "routings data",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/createRoutingSchema"
              },
              "example": {
                "id": "example-id",
                "name": "Example Resource"
              }
            }
          }
        },
        "security": []
      }
    },
    "/routings/steps/dependencies/:dependencyId": {
      "delete": {
        "operationId": "delete_routings_steps_dependencies__by_dependencyId",
        "summary": "Create a new routing",
        "description": "Create a new routing\n\n**Middleware:** asyncHandler\n\n**Business Domain:** Production Management",
        "tags": [
          "Production Management"
        ],
        "parameters": [
          {
            "name": "dependencyId",
            "in": "path",
            "required": true,
            "description": "dependencyId identifier",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Resource deleted successfully"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      }
    },
    "/routings/part-site-availability": {
      "post": {
        "operationId": "post_routings_part-site-availability",
        "summary": "Create a new routing",
        "description": "Create a new routing\n\n**Middleware:** asyncHandler\n\n**Business Domain:** Production Management",
        "tags": [
          "Production Management"
        ],
        "parameters": [],
        "responses": {
          "201": {
            "description": "Resource created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseEntity"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "deprecated": false,
        "requestBody": {
          "description": "routings data",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/createRoutingSchema"
              },
              "example": {
                "id": "example-id",
                "name": "Example Resource"
              }
            }
          }
        },
        "security": []
      }
    },
    "/routings/part-site-availability/:partId/:siteId": {
      "get": {
        "operationId": "get_routings_part-site-availability__by_partId__by_siteId",
        "summary": "Create a new routing",
        "description": "Create a new routing\n\n**Middleware:** asyncHandler\n\n**Business Domain:** Production Management",
        "tags": [
          "Production Management"
        ],
        "parameters": [
          {
            "name": "partId",
            "in": "path",
            "required": true,
            "description": "partId identifier",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "siteId",
            "in": "path",
            "required": true,
            "description": "siteId identifier",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Page number for pagination",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Number of items per page",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 1000,
              "default": 50
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseEntity"
                },
                "example": {
                  "id": "example-id",
                  "name": "Example Resource"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      }
    },
    "/routings/parts/:partId/available-sites": {
      "get": {
        "operationId": "get_routings_parts__by_partId_available-sites",
        "summary": "Create a new routing",
        "description": "Create a new routing\n\n**Middleware:** asyncHandler\n\n**Business Domain:** Production Management",
        "tags": [
          "Production Management"
        ],
        "parameters": [
          {
            "name": "partId",
            "in": "path",
            "required": true,
            "description": "partId identifier",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Page number for pagination",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Number of items per page",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 1000,
              "default": 50
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseEntity"
                },
                "example": {
                  "id": "example-id",
                  "name": "Example Resource"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      }
    },
    "/routings/part-site-availability/:id": {
      "put": {
        "operationId": "put_routings_part-site-availability__by_id",
        "summary": "Create a new routing",
        "description": "Create a new routing\n\n**Middleware:** asyncHandler\n\n**Business Domain:** Production Management",
        "tags": [
          "Production Management"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "id identifier",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Operation successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseEntity"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "deprecated": false,
        "requestBody": {
          "description": "routings data",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/createRoutingSchema"
              },
              "example": {
                "id": "example-id",
                "name": "Example Resource"
              }
            }
          }
        },
        "security": []
      },
      "delete": {
        "operationId": "delete_routings_part-site-availability__by_id",
        "summary": "Create a new routing",
        "description": "Create a new routing\n\n**Middleware:** asyncHandler\n\n**Business Domain:** Production Management",
        "tags": [
          "Production Management"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "id identifier",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Resource deleted successfully"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      }
    },
    "/routings/:id/copy": {
      "post": {
        "operationId": "post_routings__by_id_copy",
        "summary": "Create a new routing",
        "description": "Create a new routing\n\n**Middleware:** asyncHandler\n\n**Business Domain:** Production Management",
        "tags": [
          "Production Management"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "id identifier",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Resource created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseEntity"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "deprecated": false,
        "requestBody": {
          "description": "routings data",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/createRoutingSchema"
              },
              "example": {
                "id": "example-id",
                "name": "Example Resource"
              }
            }
          }
        },
        "security": []
      }
    },
    "/routings/:id/approve": {
      "post": {
        "operationId": "post_routings__by_id_approve",
        "summary": "Create a new routing",
        "description": "Create a new routing\n\n**Middleware:** asyncHandler\n\n**Business Domain:** Production Management",
        "tags": [
          "Production Management"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "id identifier",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Resource created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseEntity"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "deprecated": false,
        "requestBody": {
          "description": "routings data",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/createRoutingSchema"
              },
              "example": {
                "id": "example-id",
                "name": "Example Resource"
              }
            }
          }
        },
        "security": []
      }
    },
    "/routings/:id/activate": {
      "post": {
        "operationId": "post_routings__by_id_activate",
        "summary": "Create a new routing",
        "description": "Create a new routing\n\n**Middleware:** asyncHandler\n\n**Business Domain:** Production Management",
        "tags": [
          "Production Management"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "id identifier",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Resource created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseEntity"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "deprecated": false,
        "requestBody": {
          "description": "routings data",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/createRoutingSchema"
              },
              "example": {
                "id": "example-id",
                "name": "Example Resource"
              }
            }
          }
        },
        "security": []
      }
    },
    "/routings/:id/obsolete": {
      "post": {
        "operationId": "post_routings__by_id_obsolete",
        "summary": "Create a new routing",
        "description": "Create a new routing\n\n**Middleware:** asyncHandler\n\n**Business Domain:** Production Management",
        "tags": [
          "Production Management"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "id identifier",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Resource created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseEntity"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "deprecated": false,
        "requestBody": {
          "description": "routings data",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/createRoutingSchema"
              },
              "example": {
                "id": "example-id",
                "name": "Example Resource"
              }
            }
          }
        },
        "security": []
      }
    },
    "/routings/:partId/:siteId/versions": {
      "get": {
        "operationId": "get_routings__by_partId__by_siteId_versions",
        "summary": "Create a new routing",
        "description": "Create a new routing\n\n**Middleware:** asyncHandler\n\n**Business Domain:** Production Management",
        "tags": [
          "Production Management"
        ],
        "parameters": [
          {
            "name": "partId",
            "in": "path",
            "required": true,
            "description": "partId identifier",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "siteId",
            "in": "path",
            "required": true,
            "description": "siteId identifier",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Page number for pagination",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Number of items per page",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 1000,
              "default": 50
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseEntity"
                },
                "example": {
                  "id": "example-id",
                  "name": "Example Resource"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      }
    },
    "/routings/:id/timing": {
      "get": {
        "operationId": "get_routings__by_id_timing",
        "summary": "Create a new routing",
        "description": "Create a new routing\n\n**Middleware:** asyncHandler\n\n**Business Domain:** Production Management",
        "tags": [
          "Production Management"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "id identifier",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Page number for pagination",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Number of items per page",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 1000,
              "default": 50
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseEntity"
                },
                "example": {
                  "id": "example-id",
                  "name": "Example Resource"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      }
    },
    "/routings/:id/validate": {
      "get": {
        "operationId": "get_routings__by_id_validate",
        "summary": "Create a new routing",
        "description": "Create a new routing\n\n**Middleware:** asyncHandler\n\n**Business Domain:** Production Management",
        "tags": [
          "Production Management"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "id identifier",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Page number for pagination",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Number of items per page",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 1000,
              "default": 50
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseEntity"
                },
                "example": {
                  "id": "example-id",
                  "name": "Example Resource"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      }
    },
    "/routings/templates": {
      "get": {
        "operationId": "get_routings_templates",
        "summary": "Create a new routing",
        "description": "Create a new routing\n\n**Middleware:** asyncHandler\n\n**Business Domain:** Production Management",
        "tags": [
          "Production Management"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Page number for pagination",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Number of items per page",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 1000,
              "default": 50
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseEntity"
                },
                "example": {
                  "id": "example-id",
                  "name": "Example Resource"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      },
      "post": {
        "operationId": "post_routings_templates",
        "summary": "Create a new routing",
        "description": "Create a new routing\n\n**Middleware:** asyncHandler\n\n**Business Domain:** Production Management",
        "tags": [
          "Production Management"
        ],
        "parameters": [],
        "responses": {
          "201": {
            "description": "Resource created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseEntity"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "deprecated": false,
        "requestBody": {
          "description": "routings data",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/createRoutingSchema"
              },
              "example": {
                "id": "example-id",
                "name": "Example Resource"
              }
            }
          }
        },
        "security": []
      }
    },
    "/routings/templates/categories": {
      "get": {
        "operationId": "get_routings_templates_categories",
        "summary": "Create a new routing",
        "description": "Create a new routing\n\n**Middleware:** asyncHandler\n\n**Business Domain:** Production Management",
        "tags": [
          "Production Management"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Page number for pagination",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Number of items per page",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 1000,
              "default": 50
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseEntity"
                },
                "example": {
                  "id": "example-id",
                  "name": "Example Resource"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      }
    },
    "/routings/templates/:id": {
      "get": {
        "operationId": "get_routings_templates__by_id",
        "summary": "Create a new routing",
        "description": "Create a new routing\n\n**Middleware:** asyncHandler\n\n**Business Domain:** Production Management",
        "tags": [
          "Production Management"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "id identifier",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Page number for pagination",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Number of items per page",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 1000,
              "default": 50
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseEntity"
                },
                "example": {
                  "id": "example-id",
                  "name": "Example Resource"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      },
      "put": {
        "operationId": "put_routings_templates__by_id",
        "summary": "Create a new routing",
        "description": "Create a new routing\n\n**Middleware:** asyncHandler\n\n**Business Domain:** Production Management",
        "tags": [
          "Production Management"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "id identifier",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Operation successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseEntity"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "deprecated": false,
        "requestBody": {
          "description": "routings data",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/createRoutingSchema"
              },
              "example": {
                "id": "example-id",
                "name": "Example Resource"
              }
            }
          }
        },
        "security": []
      },
      "delete": {
        "operationId": "delete_routings_templates__by_id",
        "summary": "Create a new routing",
        "description": "Create a new routing\n\n**Middleware:** asyncHandler\n\n**Business Domain:** Production Management",
        "tags": [
          "Production Management"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "id identifier",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Resource deleted successfully"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      }
    },
    "/routings/templates/:id/favorite": {
      "post": {
        "operationId": "post_routings_templates__by_id_favorite",
        "summary": "Create a new routing",
        "description": "Create a new routing\n\n**Middleware:** asyncHandler\n\n**Business Domain:** Production Management",
        "tags": [
          "Production Management"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "id identifier",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Resource created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseEntity"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "deprecated": false,
        "requestBody": {
          "description": "routings data",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/createRoutingSchema"
              },
              "example": {
                "id": "example-id",
                "name": "Example Resource"
              }
            }
          }
        },
        "security": []
      }
    },
    "/routings/templates/:id/use": {
      "post": {
        "operationId": "post_routings_templates__by_id_use",
        "summary": "Create a new routing",
        "description": "Create a new routing\n\n**Middleware:** asyncHandler\n\n**Business Domain:** Production Management",
        "tags": [
          "Production Management"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "id identifier",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Resource created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseEntity"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "deprecated": false,
        "requestBody": {
          "description": "routings data",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/createRoutingSchema"
              },
              "example": {
                "id": "example-id",
                "name": "Example Resource"
              }
            }
          }
        },
        "security": []
      }
    },
    "/routings/:id/visual-data": {
      "get": {
        "operationId": "get_routings__by_id_visual-data",
        "summary": "Create a new routing",
        "description": "Create a new routing\n\n**Middleware:** asyncHandler\n\n**Business Domain:** Production Management",
        "tags": [
          "Production Management"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "id identifier",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Page number for pagination",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Number of items per page",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 1000,
              "default": 50
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseEntity"
                },
                "example": {
                  "id": "example-id",
                  "name": "Example Resource"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      }
    },
    "/routings/visual": {
      "post": {
        "operationId": "post_routings_visual",
        "summary": "Create a new routing",
        "description": "Create a new routing\n\n**Middleware:** asyncHandler\n\n**Business Domain:** Production Management",
        "tags": [
          "Production Management"
        ],
        "parameters": [],
        "responses": {
          "201": {
            "description": "Resource created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseEntity"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "deprecated": false,
        "requestBody": {
          "description": "routings data",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/createRoutingSchema"
              },
              "example": {
                "id": "example-id",
                "name": "Example Resource"
              }
            }
          }
        },
        "security": []
      }
    },
    "/routings/:id/visual": {
      "put": {
        "operationId": "put_routings__by_id_visual",
        "summary": "Create a new routing",
        "description": "Create a new routing\n\n**Middleware:** asyncHandler\n\n**Business Domain:** Production Management",
        "tags": [
          "Production Management"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "id identifier",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Operation successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseEntity"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "deprecated": false,
        "requestBody": {
          "description": "routings data",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/createRoutingSchema"
              },
              "example": {
                "id": "example-id",
                "name": "Example Resource"
              }
            }
          }
        },
        "security": []
      }
    },
    "/routings/by-type/:partId/:siteId/:routingType": {
      "get": {
        "operationId": "get_routings_by-type__by_partId__by_siteId__by_routingType",
        "summary": "Create a new routing",
        "description": "Create a new routing\n\n**Middleware:** asyncHandler\n\n**Business Domain:** Production Management",
        "tags": [
          "Production Management"
        ],
        "parameters": [
          {
            "name": "partId",
            "in": "path",
            "required": true,
            "description": "partId identifier",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "siteId",
            "in": "path",
            "required": true,
            "description": "siteId identifier",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "routingType",
            "in": "path",
            "required": true,
            "description": "routingType identifier",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Page number for pagination",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Number of items per page",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 1000,
              "default": 50
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseEntity"
                },
                "example": {
                  "id": "example-id",
                  "name": "Example Resource"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      }
    },
    "/routings/primary/:partId/:siteId": {
      "get": {
        "operationId": "get_routings_primary__by_partId__by_siteId",
        "summary": "Create a new routing",
        "description": "Create a new routing\n\n**Middleware:** asyncHandler\n\n**Business Domain:** Production Management",
        "tags": [
          "Production Management"
        ],
        "parameters": [
          {
            "name": "partId",
            "in": "path",
            "required": true,
            "description": "partId identifier",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "siteId",
            "in": "path",
            "required": true,
            "description": "siteId identifier",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Page number for pagination",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Number of items per page",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 1000,
              "default": 50
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseEntity"
                },
                "example": {
                  "id": "example-id",
                  "name": "Example Resource"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      }
    },
    "/routings/:id/alternates": {
      "get": {
        "operationId": "get_routings__by_id_alternates",
        "summary": "Create a new routing",
        "description": "Create a new routing\n\n**Middleware:** asyncHandler\n\n**Business Domain:** Production Management",
        "tags": [
          "Production Management"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "id identifier",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Page number for pagination",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Number of items per page",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 1000,
              "default": 50
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseEntity"
                },
                "example": {
                  "id": "example-id",
                  "name": "Example Resource"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      }
    },
    "/routings/steps/:stepId/parameters": {
      "post": {
        "operationId": "post_routings_steps__by_stepId_parameters",
        "summary": "Create a new routing",
        "description": "Create a new routing\n\n**Middleware:** asyncHandler\n\n**Business Domain:** Production Management",
        "tags": [
          "Production Management"
        ],
        "parameters": [
          {
            "name": "stepId",
            "in": "path",
            "required": true,
            "description": "stepId identifier",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Resource created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseEntity"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "deprecated": false,
        "requestBody": {
          "description": "routings data",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/createRoutingSchema"
              },
              "example": {
                "id": "example-id",
                "name": "Example Resource"
              }
            }
          }
        },
        "security": []
      },
      "get": {
        "operationId": "get_routings_steps__by_stepId_parameters",
        "summary": "Create a new routing",
        "description": "Create a new routing\n\n**Middleware:** asyncHandler\n\n**Business Domain:** Production Management",
        "tags": [
          "Production Management"
        ],
        "parameters": [
          {
            "name": "stepId",
            "in": "path",
            "required": true,
            "description": "stepId identifier",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Page number for pagination",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Number of items per page",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 1000,
              "default": 50
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseEntity"
                },
                "example": {
                  "id": "example-id",
                  "name": "Example Resource"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      }
    },
    "/routings/steps/:stepId/parameters/effective": {
      "get": {
        "operationId": "get_routings_steps__by_stepId_parameters_effective",
        "summary": "Create a new routing",
        "description": "Create a new routing\n\n**Middleware:** asyncHandler\n\n**Business Domain:** Production Management",
        "tags": [
          "Production Management"
        ],
        "parameters": [
          {
            "name": "stepId",
            "in": "path",
            "required": true,
            "description": "stepId identifier",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Page number for pagination",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Number of items per page",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 1000,
              "default": 50
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseEntity"
                },
                "example": {
                  "id": "example-id",
                  "name": "Example Resource"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": []
      }
    },
    "/routings/steps/:stepId/parameters/:parameterName": {
      "delete": {
        "operationId": "delete_routings_steps__by_stepId_parameters__by_parameterName",
        "summary": "Create a new routing",
        "description": "Create a new routing\n\n**Middleware:** asyncHandler\n\n**Business Domain:** Production Management",
        "tags": [
          "Production Management"
        ],
        "parameters": [
          {
            "name": "stepId",
            "in": "path",
            "required": true,
            "description": "stepId identifier",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "parameterName",
            "in": "path",
            "required": true,
            "description": "parameterName identifier",
            "schema": {
              "type": "string"
            }
          }
        ],
[...]
